.profile {
    width: 600px;
    margin-bottom: 50px;
}

.description {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 2px solid rgba(161, 161, 161, 0.39);
    border-radius: 7px 7px 0px 0px;
}

.avatar {
    border-radius: 50%;
    width: 200px;
}

.name {
    color: black;
    font-weight: 700;
}

.tag {
    color: rgba(0, 0, 0, 0.411);
}

.location {
    color: rgba(0, 0, 0, 0.411);
    margin-bottom: 0;
    padding-bottom: 30px;
}

.stats {
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 229, 229); 
    border: 2px solid rgba(161, 161, 161, 0.39);
    border-top: 0px;
    border-radius: 0px 0px 7px 7px;

}

.element {
    padding-top: 25px;
    padding-bottom: 25px;
}

.element:nth-child(2n) {
    border-left: 2px solid rgba(161, 161, 161, 0.39);
    border-right: 2px solid rgba(161, 161, 161, 0.39);
}

.label {
    margin-left: 70px;
    margin-right: 70px;
}

.quantity {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

