.friend__list {
        background-color: rgb(151, 151, 151);
            text-align: center;
            width: 600px;
            /* display: flex; */
            justify-content: center;
            padding-bottom: 30px;
}


.friend__list li div {
   display: flex;
   align-items: center;
   justify-content: center;
}

.status {
    font-size: 50px;
}

.name {
    margin-bottom: 0;
}