.friend__list {
        background-color: rgb(151, 151, 151);
            text-align: center;
            width: 600px;
            justify-content: center;
            padding-bottom: 30px;
}


.friend__list li div {
   display: flex;
   align-items: center;
   justify-content: center;
}

.true {
    font-size: 20px;
    color: rgb(19, 255, 19);
}

.false {
    font-size: 20px;
    color: rgb(255, 29, 29);
}

.name {
    margin-bottom: 0;
}